@import "lib/login";
@import "lib/reports";
@import "lib/log";
@import "lib/heading";
@import 'lib/users';
@import "lib/vehicle";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.confirm, .error {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    background-color: #00b900;
    border: 2px solid green;
}
.error {
    background-color: #b90000;
    border: 2px solid #800000;
    color: white;
}


