@import "lib/login";
@import "lib/reports";
@import "lib/log";
@import "lib/heading";
@import 'lib/users';
@import "lib/vehicle";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}


